@model LuckySpin.Models.Spin
@inject LuckySpin.Models.TextTransformService Transform
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Lucky Spin</title>
    <link rel="stylesheet" href="/luckyStyles.css">
</head>
<body>
    <button onclick='history.go(0)'>Spin</button>
    <div>@Model.A</div><div>@Model.B</div><div>@Model.C</div>
    <h1> Lucky @Transform.numberToText(Model.Luck) </h1>
    <img src="/Images/LuckySpinCoins.jpg" alt="Coins" style="display:@Model.Display" />
</body>
</html>
