@model LuckySpin.Models.Player
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
<h1>Lucky Spin</h1>
<h2>Player Info</h2>
<form asp-action="Index" asp-controller="Spinner">
    <fieldset>
        <label>
            <input placeholder=" Your First Name" asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </label>
        <label>
            <select asp-for="Luck">
                <option selected disabled>Luck Number</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
            </select>
            <span asp-validation-for="Luck"></span>
        </label>
        <label>
            <input placeholder=" Beginning Balance" /> <!-- TODO: Connect this to your model's balance property -->
        </label>
        <span></span>
    </fieldset>
    <input type="submit" value="Start the Game" />
</form>