@{
    Layout = "_Layout";
}
<h1>Lucky Number Game</h1>
<h2>Pick your Lucky Number</h2>
<form action="/Spinner/Index" method="post">
    <fieldset>
        <label><input placeholder=" Your Name" /></label>
        <label>
            <select>
                <option selected disabled>Luck Number</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
            </select>
        </label>
    </fieldset>
    <input type="submit" value="Start the Game"/>
</form>