@page
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Lucky Spin</title>
</head>
<body>
    <button onclick='history.go(0)'>Spin</button>
    <div>@ViewBag.a</div><div>@ViewBag.b</div><div>@ViewBag.c</div>
    <h1> Lucky Seven </h1>
    <img src="/Images/LuckySpinCoins.jpg" alt="Coins" style="display:@ViewBag.image" />
</body>
</html>
